@model SillyWonko.Models.ViewModels.UserViewModel

<form method="post" asp-controller="Admin" asp-action="Update" asp-route-id="@Model.Product.ID">
    <label asp-for="@Model.Product.Name">@Model.Product.Name</label>
    <input type="text" asp-for="@Model.Product.Name" />
    <br />
    <label asp-for="@Model.Product.Sku">@Model.Product.Sku</label>
    <input type="text" asp-for="@Model.Product.Sku" />
    <br />
    <label asp-for="@Model.Product.Price">@Model.Product.Price</label>
    <input type="number" asp-for="@Model.Product.Price" />
    <br />
    <label asp-for="@Model.Product.Description">Description</label>
    <input type="text" asp-for="@Model.Product.Description" />
    <br />
    <label asp-for="@Model.Product.Image">@Model.Product.Image</label>
    <input type="text" asp-for="@Model.Product.Image" />
    <br />
    <input type="submit" value="update" />
</form>
<form asp-controller="Admin" asp-action="Delete" asp-route-id="@Model.Product.ID">
    <input type="submit" value="remove" />
</form>
<form asp-controller="Admin" asp-action="Index">
    <input type="submit" value="Dashboard" />
</form>