@model SillyWonko.Models.ViewModels.UserViewModel

<main class="main_container">
    <header>
        <img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
    </header>
    Register Page
    <form method="post" asp-action="Register">
        <div asp-validation-summary="All"></div>

        <label asp-for="@Model.Register.FirstName">First Name</label>
        <input type="text" asp-for="@Model.Register.FirstName" />
        <br />

        <label asp-for="@Model.Register.LastName">Last Name</label>
        <input type="text" asp-for="@Model.Register.LastName" />
        <br />

        <label asp-for="@Model.Register.Email">Email</label>
        <input type="text" asp-for="@Model.Register.Email" />
        <br />

        <label asp-for="@Model.Register.Password">Password</label>
        <input type="password" asp-for="@Model.Register.Password" />
        <br />

        <label asp-for="@Model.Register.ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="@Model.Register.ConfirmPassword" />
        <br />

        <input type="submit" value="register user" />
    </form>
</main>
