@model SillyWonko.Models.ViewModels.UserViewModel

<main class="main_container">
    <header>
        <img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
    </header>
    <div class="inventory_list">
        <section id="list_wrapper">
            <p id="detail_name">Your Cart</p>

            @foreach (var product in Model.Products)
            {
                <div id="list_item">
                    <form asp-action="Detail" asp-controller="Shop" asp-route-id="@product.ID" method="get">
                        <input id="item_name" value="@product.Name" type="submit" />
                        <div class="item_info">
                            <img class="item_image" src="@product.Image" alt="@product.Name" />
                        </div>
                    </form>
                </div>
            }
            <hr />
            <div>
                <form method="post" asp-controller="Cart" asp-action="Checkout">
                    <input type="hidden" asp-for="@Model.Cart.ID" />
                    <input type="hidden" asp-for="@Model.Total" />
                    <input id="confirm_button" type="submit" value="Checkout" />
                    <div class="total_wrapper">
                        <p id="total_price">Total</p>
                        <p id="total_price">@Model.Total</p>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>
