@model SillyWonko.Models.ViewModels.UserViewModel

<main class="main_container">
    <header>
        <img id="main_logo" src="~/images/wonko_logo.svg" alt="Wonko Logo" />
    </header>
    <div class="inventory_list">
        <section id="list_wrapper">
            <p id="detail_name">Order Confirmation</p>
            <p>Order Number: @Model.Order.ID</p>
            @foreach (var product in Model.Cart.CartItems)
            {
                <p>@product.Product.Name QTY:@product.Quantity Price:@product.Product.Price</p>
            }
            <hr />
            <div class="form_container">
                <form method="post" asp-controller="Cart" asp-action="Complete">
                    <p><input type="text" asp-for="@Model.User.FirstName" placeholder="First Name" /></p>
                    <p><input type="text" asp-for="@Model.User.LastName" placeholder="Last Name" /></p>
                    <p><input type="text" asp-for="@Model.Shipping.Address1" placeholder="Address 1" /></p>
                    <p><input type="text" asp-for="@Model.Shipping.Address2" placeholder="Address 2" /></p>
                    <p><input type="text" asp-for="@Model.Shipping.City" placeholder="City" /></p>
                    <p><input type="text" asp-for="@Model.Shipping.State" placeholder="State" /></p>
                    <input type="hidden" asp-for="@Model.Order.ID" />
                    <p>Total: @Model.Order.TotalPrice</p>
                    <input id="confirm_button" type="submit" value="Complete" />
                </form>
            </div>
        </section>
    </div>
</main>
